<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="FlutterBySajid"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geo_api_key" />
    </application>
</manifest>